.clearfix:after {
	content: '';
	clear: both;
	display: table;
	overflow: hidden;
}
.container {
	width: 940px;
	margin: 0 auto;
}
h1 {
	color: #222;
	font-size: 40px;
	font-weight: 700;
	line-height: 75px;
	text-transform: uppercase;
	text-align: center;
}
h2 {
	color: #222;
	font-family: Montserrat;
	font-size: 40px;
	font-weight: 700;
	line-height: 75px;
	text-transform: uppercase;
}
h3 {
	color: #777;
	font-family: DroidSerif;
	font-size: 16px;
	font-style: italic;
}

.wrap {}
.header {
	background: url(../pic/bg.png) 50%;
    background-size: cover;
    padding-bottom: 160px;
}
.menu {
	float: right;
	padding: 3% 10%;
}
.menu-item {
	width: 72px;
	height: 9px;
	margin: 0 16px;
	color: #fff;
	font-family: Raleway;
	font-size: 13px;
	font-weight: 600;
	line-height: 24px;
	text-transform: uppercase;
}
.logo {
	width: 79px;
	height: 28px;
	color: #fed136;
	font-family: Wisdom;
	font-size: 26px;
	line-height: 41px;
	padding: 3% 12%;
}
.block-title {
	text-align: center;
	padding: 15% 0;
}
.title1 {
	color: white;
	font-family: DroidSerif;
	font-size: 40px;
	font-style: italic;
	padding-top: 2%;
}
.title2 {
	color: white;
	font-family: Montserrat;
	font-size: 75px;
	font-weight: 700;
	text-transform: uppercase;
}
.button {
	text-align: center;
	width: 240px;
	height: 65px;
	background-color: #fed136;
	border-radius: 2px;
	margin: auto;
}
.text-button {
	height: 14px;
	color: white;
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 10%;
}
.services {
	text-align: center;
	padding-top: 102.5px;
}
.services__icon {
	position: relative;
	display: block;
	width: 940px;
	margin: 76px 0 118px 0;
}
.services__icon__item {
	width: 33%;
	float: left;
}
.services__icon__item__img {
	width: 72px;
}
.services__icon__title1 {
	color: #222;
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 700;
	line-height: 75px;
}
.services__icon__title2 {
	color: #777;
	font-family: RobotoSlab;
	font-size: 14px;
	font-weight: 400;
	padding-right: 30px;
	padding-left: 30px;
}

.portfolio {
	padding: 9% 17%;
	background: #f7f7f7;
}
.title {
	color: #222;
	font-family: Montserrat;
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	line-height: inherit;
}
.sub__title {
	color: #777;
	font-family: DroidSerif;
	font-size: 16px;
	font-style: italic;
	text-align: center;
	line-height: inherit;
	padding: 1.55% 0 6.56% 0;
}/* 
.wrapper {
	padding: 9% 17%;
} */
.gallery {
	margin: 0 -2.1%;
}
.gallery ul {
	list-style-type: none;
}
.gallery li {
	display: list-item;
}
.gallery img {
	width: 100%;
}
.gallery__item {
	position: relative;
	float: left;
	margin: 0 1.8% 5.8%;
	background-color: white;
}
.gallery__item__content {
}
.gallery__item__content h4 {
	height: 18px;
	color: #333;
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	padding-top: 6.87%;
	line-height: normal;
}
.gallery__item__content p {
	height: 15px;
	color: #737373;
	font-family: DroidSerif;
	font-size: 14px;
	font-style: italic;
	text-align: center;
	padding: 1.02% 0 6.87%;
}
.gallery__item__text {
}
.about {
	padding: 9% 17%;
	background: #FFF;
}
.about__us {
	margin: 0 -2%;
}
.stories {
	margin: 0 auto;
	position: relative;
    z-index: 1;
}
.stories__content {	
	clear: both;
}
.stories__content:nth-of-type(2n),
.stories__content:nth-of-type(2n+1) {
	margin: 7.06% 0 0 0;
}
.stories__content:nth-of-type(2n) {
	margin: 7.06% 0 0 0;
}
.stories__text {
	width: 32.66%;
	float: left;
	margin: 0 0 0 3.51%;
}
.stories__content:nth-of-type(2n) .stories__text {
	float: right;
	margin: 0 3.51% 0 0;
}
.stories__text h5,
.stories__text h6 {
	text-align: right;
	color: #222;
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 700;
}
.stories__text h5 {
	text-transform: uppercase;
}
.stories__content:nth-of-type(2n) .stories__text h5,
.stories__content:nth-of-type(2n) .stories__text h6,
.stories__content:nth-of-type(2n) .stories__text p {
	text-align: left;
}
.stories__text p {
	padding: 3.8% 0;
	text-align: right;
	color: #777;
	font-family: RobotoSlab;
	font-size: 14px;
	font-weight: 400;
}
.stories__img {
    width: 19.36%;
    float: left;
    margin: 0 4.15%;
}
.stories__content:nth-of-type(2n) .stories__img {
	float: right;
}
.stories__continue {
	width: 19.36%;
    margin: 0 auto;
}
.stories__continue p {
	margin: -74.17% 21.42% 0 19.78%;
	width: 58.7%;
	text-align: center;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
	color: #fff;
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1.4em;
}
.stories::after {
    content: "";
    width: 3px;
    height: 100%;
    background: #e3e4e4;
    left: 51%;
    margin-left: -1%;
    z-index: -1;
    position: absolute;
    top: 0;
    display: block;
}


/*TEAM*/
.team {
	background-color: #f9f9f9;
	text-align: center;
	padding-top: 102.5px;
}
.team__photo {
	margin: 76px 0 26px 0;
}
.team__photo__item {
	width: 23%;
	float: left;
	margin: 5% ;
}
.team__photo__item__img {
	border: 7px solid white;
	border-radius: 100%;
}
.team__photo__name {
	color: #222;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 700;
	line-height: 50px;
}
.team__photo__position {
	color: #777;
	font-family: RobotoSlab;
	font-size: 14px;
	font-weight: 400;
}
.social__icon {
	display: inline-block;
	vertical-align: middle;
	margin-top: 14px;
	margin-bottom: 0px;
	text-align: center;
}
.social__icon img {
	width: 34px;
	border: 3px solid #222;
	border-radius: 100%;
/* 	padding: 5px;
 */	margin-right: 5px;
	margin-left: 5px;
}


.team__text {
	width: 600px;
	margin: 0 auto;
}
.team__text p {
	color: #777;
	font-family: RobotoSlab;
	font-size: 16px;
	font-weight: 400;
	line-height: 25px;
}
.team__logotypes {
	margin: 0 auto;
	padding:  178px 0 61px 0;
}
.team__logotypes img {
	display: block;
	width: auto;
    height: 42px;
    display: inline;
    margin: 0 1rem 1rem 0;
}

/*CONTACT*/
.contact {
	height: 676px;
	background-color: #222;
	text-align: center;
	padding-top: 102.5px;
}
.contact__top {
	position: absolute;
	width: 940px;
	margin: 0 auto;
}
 .contact__top__h2 {
	color: white;
	font-family: Montserrat;
	font-size: 40px;
	font-weight: 700;
	line-height: 75px;
	text-transform: uppercase;
 }
 .contact__map {
	position: absolute;
	width: 614px;
	opacity: 0.3;
	float: right;
 }
 .contact__bg {
	background-color: #222;
 }
.contact__form {
	margin-top: 75px;
	margin-bottom: 29px;
}
.contact__form__col1 {
	width: 48%;
	height: 211px;
	margin-right: 2%;
	float: left;
}
.contact__form__col2 {
	width: 50%;
	height: 211px;
	float: left;
 }
 #contact__form__col1__item {
/* 	width: 437px;
 */	height: 50px;
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 1px;
	margin:0 30px 30px 0;
}
 #contact__form__col2__item {
/* 	width: 437px;
 */	height: 218px;
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 1px;
	margin:0 0 30px 0;
	float: right;
}
input, textarea {
	width: 437px;
	height: 222px;
	background-color: white;
	border-radius: 1px;
	color: #bbb;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	padding-left: 20px;	
}
textarea {
	padding-top: 16px;
}
.button input {
	display: block;
	margin: 0 auto;
	text-align: center;
	width: 240px;
	height: 65px;
	background-color: #fed136;
	border-radius: 2px;
	
	color: white;
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}
.button__text {
	color: white;
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 65px;
}
.footer-bg {
	display: block;
	width: 100%;
	height: 90px;
	background-color: white;
	text-align: center;
}
.social {
	position: relative;
	padding-top: 25px;
}
.social-item {
	width: 40px;
	background-color: #222;
	border-radius: 100%;
/* 	padding: 10px;
 */	margin: 5px;
}
.footer {
	position: absolute;
	padding-top: 45px;
}