.portfolio {
	background: #f7f7f7;
}
.title {
	color: #222;
	font-family: Montserrat;
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	line-height: inherit;
}
.sub__title {
	color: #777;
	font-family: DroidSerif;
	font-size: 16px;
	font-style: italic;
	text-align: center;
	line-height: inherit;
	padding: 1.55% 0 6.56% 0;
}
.container {
	padding: 9% 17%;
}
.gallery {
	margin: 0 -2.1%;
}
ul {
	list-style-type: none;
}
li {
	display: list-item;
}
img {
	width: 100%;
}
.gallery__item {
	position: relative;
	float: left;
	margin: 0 1.8% 5.8%;
	background-color: white;
}
.gallery__item__content {
}
.gallery__item__content h4 {
	height: 18px;
	color: #333;
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	padding-top: 6.87%;
	line-height: normal;
}
.gallery__item__content p {
	height: 15px;
	color: #737373;
	font-family: DroidSerif;
	font-size: 14px;
	font-style: italic;
	text-align: center;
	padding: 1.02% 0 6.87%;
}
.gallery__item__text {
}
.about {
	background: #FFF;
}
.about__us {
	margin: 0 -2%;
}
.stories {
	margin: 0 auto;
	position: relative;
    z-index: 1;
}
.stories__content {	
	clear: both;
}
.stories__content:nth-of-type(2n),
.stories__content:nth-of-type(2n+1) {
	margin: 7.06% 0 0 0;
}
.stories__content:nth-of-type(2n) {
	margin: 7.06% 0 0 0;
}
.stories__text {
	width: 32.66%;
	float: left;
	margin: 0 0 0 3.51%;
}
.stories__content:nth-of-type(2n) .stories__text {
	float: right;
	margin: 0 3.51% 0 0;
}
.stories__text h5,
.stories__text h6 {
	text-align: right;
	color: #222;
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 700;
}
.stories__text h5 {
	text-transform: uppercase;
}
.stories__content:nth-of-type(2n) .stories__text h5,
.stories__content:nth-of-type(2n) .stories__text h6,
.stories__content:nth-of-type(2n) .stories__text p {
	text-align: left;
}
.stories__text p {
	padding: 3.8% 0;
	text-align: right;
	color: #777;
	font-family: RobotoSlab;
	font-size: 14px;
	font-weight: 400;
}
.stories__img {
    width: 19.36%;
    float: left;
    margin: 0 4.15%;
}
.stories__content:nth-of-type(2n) .stories__img {
	float: right;
}
.stories__continue {
	width: 19.36%;
    margin: 0 auto;
}
.stories__continue p {
	margin: -74.17% 21.42% 0 19.78%;
	width: 58.7%;
	text-align: center;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
	color: #fff;
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1.4em;
}
.stories::after {
    content: "";
    width: 3px;
    height: 100%;
    background: #e3e4e4;
    left: 51%;
    margin-left: -1%;
    z-index: -1;
    position: absolute;
    top: 0;
    display: block;
}