<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="UTF-8">
    <title>landing_part_2</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/part_2.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
</head>
<body>
<section class="portfolio">
    <div class="gallery">
        <div class="container">
            <h2 class="title">OUR PORTFOLIO</h2>
            <h3 class="sub__title">Proin iaculis purus consequat sem cure.</h3><ul class="gallery clearfix">
                <li class="gallery__item">
                    <img src="../img/img_1.jpg" alt="image_not_found">
                    <div class="gallery__item__content">
                        <div class="gallery__item__text">
                            <h4>Ebony & Ivory</h4>
                            <p>Branding</p>
                        </div>
                    </div>
                </li>
                <li class="gallery__item">
                    <img src="../img/img_2.jpg" alt="image_not_found">
                    <div class="gallery__item__content">
                        <div class="gallery__item__text">
                            <h4>Smart Stationary</h4>
                            <p>Print Design</p>
                        </div>
                    </div>
                </li>
                <li class="gallery__item">
                    <img src="../img/img_3.jpg" alt="image_not_found">
                    <div class="gallery__item__content">
                        <div class="gallery__item__text">
                            <h4>Clever Poster</h4>
                            <p>Print Design</p>
                        </div>
                    </div>
                </li>
                <li class="gallery__item">
                    <img src="../img/img_4.jpg" alt="image_not_found">
                    <div class="gallery__item__content">
                        <div class="gallery__item__text">
                            <h4>Vinyl Record</h4>
                            <p>Product Mock-Up</p>
                        </div>
                    </div>
                </li>
                <li class="gallery__item">
                    <img src="../img/img_5.jpg" alt="image_not_found">
                    <div class="gallery__item__content">
                        <div class="gallery__item__text">
                            <h4>Treehouse Template</h4>
                            <p>Web Design</p>
                        </div>
                    </div>
                </li>
                <li class="gallery__item">
                    <img src="../img/img_6.jpg" alt="image_not_found">
                    <div class="gallery__item__content">
                        <div class="gallery__item__text">
                            <h4>Burned Logo</h4>
                            <p>Branding</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="about">
    <div class="about__us">
        <div class="container">
            <h2 class="title">About Us</h2>
            <h3 class="sub__title">Proin iaculis purus consequat sem cure.</h3>
            <ul class="stories clearfix">
                <li class="stories__content" clearfix>
                    <div class="stories__text">
                        <h5>July 2010</h5>
                        <h6>Our Humble Beginnings</h6>
                        <p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit.</p>
                    </div>
                    <figure class="stories__img">
                        <img src="../img/about_img_1.jpg" alt="image_not_found">
                    </figure>
                </li>
                <li class="stories__content" clearfix>
                    <div class="stories__text">
                        <h5>January 2011</h5>
                        <h6>Facing Startup Battles</h6>
                        <p>Proin iaculis purus consequat sem cure 
                        digni ssim. Donec porttitora entum suscipit 
                        aenean rhoncus posuere odio in tincidunt. Proin 
                        iaculis purus consequat sem cure digni 
                        ssim. Donec porttitora entum suscipit aenean 
                        rhoncus posuere odio in tincidunt.</p>
                    </div>
                    <figure class="stories__img">
                        <img src="../img/about_img_2.jpg" alt="image_not_found">
                    </figure>
                </li>
                <li class="stories__content" clearfix>
                    <div class="stories__text">
                        <h5>December 2012</h5>
                        <h6>Enter The Dark Days</h6>
                        <p>Proin iaculis purus consequat sem cure 
                        digni ssim. Donec porttitora entum suscipit 
                        aenean rhoncus posuere odio in tincidunt. Proin 
                        iaculis purus consequat sem cure digni.</p>
                    </div>
                    <figure class="stories__img">
                        <img src="../img/about_img_3.jpg" alt="image_not_found">
                    </figure>
                </li>
                <li class="stories__content" clearfix>
                    <div class="stories__text">
                        <h5>February 2014</h5>
                        <h6>Our Triumph</h6>
                        <p>Proin iaculis purus consequat sem cure 
                        digni ssim. Donec porttitora entum suscipit 
                        aenean rhoncus posuere odio in tincidunt. Proin 
                        iaculis purus consequat sem cure digni 
                        ssim. Donec porttitora entum suscipit aenean.</p>
                    </div>
                    <figure class="stories__img">
                        <img src="../img/about_img_4.jpg" alt="image_not_found">
                    </figure>
                </li>
                <li class="stories__content" clearfix>
                    <div class="stories__continue">
                        <figure class="stories__img_fon">
                            <img src="../img/our_story_fon.jpg" alt="image_not_found">
                        </figure>
                    </div>
                </li>
            </ul>   
        </div>
    </div>
</section>






