<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Photographer</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway:500' rel='stylesheet' type='text/css'>
    <link href= 'https://www.google.com/fonts#UsePlace:use/Collection:Droid+Serif:400italic' rel='stylesheet' type='text/css'>
    <link href='https://www.google.com/fonts#UsePlace:use/Collection:Montserrat:700' rel='stylesheet' type='text/css'>
    <link href='https://www.google.com/fonts#UsePlace:use/Collection:Roboto+Slab'rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="wrap">
		<header class="header">
		<div class="header-top">
		    <img class="logo" src="../pic/logo-title.png" alt="">       
		    <nav class="menu">
		        <a href="" class="menu-item">Home</a>
		        <a href="" class="menu-item">Services</a>
		        <a href="" class="menu-item">Portfolio</a>
		        <a href="" class="menu-item">About</a>
		        <a href="" class="menu-item menu-last">Contact</a>
		    </nav>
		    <div class="block-title">
			    <p class="title1">Welcome To Our Studio!</p>
			    <p class="title2">It’s nice to Meet you</p>
		    </div>
			    <form class="button">
			    	<button class="text-button">Tell Me More</button>	
			    </form>	
		    </div>
		</div>
	</div>
	<div class="service">
		<div class="title-block2">
			<h1>Services</h1>
			<p class="subtitle-block2">Proin iaculis purus consequat sem cure.</p>
		</div>
		<div class="row">
   			<div class="col">
   			<p>
   				<img class="service-img" src="../pic/circle-service1.png" alt="">
   				<p class="subtitle-icon">E-Commerce</p>
   				<p class="text-block2">Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.</p>
   			</p>
   			</div>
   		   	<div class="col">
   			<p>
   				<img class="service-img" src="../pic/circle-service2.png" alt="">
   				<p class="subtitle-icon">Responsive Web</p>
   				<p class="text-block2">Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.</p>
   			</p>
   			</div>
   		   	<div class="col">
   			<p>
   				<img class="service-img" src="../pic/circle-service3.png" alt="">
   				<p class="subtitle-icon">Web Security</p>
   				<p class="text-block2">Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.</p>
   			</p>
   			</div>
   		</div>
	</div>
</body>
</html>