<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Photographer</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway:500' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="wrap">
		<header class="header">
		<div class="header-top">
		    <img class="logo" src="../pic/logo-title.png" alt="">       
		    <nav class="menu">
		        <a href="" class="menu-item">Home</a>
		        <a href="" class="menu-item">Services</a>
		        <a href="" class="menu-item">Portfolio</a>
		        <a href="" class="menu-item">About</a>
		        <a href="" class="menu-item menu-last">Contact</a>
		    </nav>
		    <div class="block-title">
			    <p class="title1">Welcome To Our Studio!</p>
			    <p class="title2">It’s nice to Meet you</p>
		    </div>
		    <form>
		    	<button class="button">Tell Me More</button>	
		    </form>	
		    </div>
		</div>
	</div>
</body>
</html>